<%= form_for(@user, class: 'form-group depot_form ') do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, size: 20, class: 'form-control'%>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, size: 40, class: 'form-control'%>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, size: 40, class: 'form-control'%>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, size: 40, class: 'form-control'%>
  </div>

  <div class="actions">
    <%= form.submit 'Update account', :class => 'btn btn-success btn-md' %>
  </div>
<% end %>
