<html>
<head>
  <title>Your Bookshelf</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="<%= controller.controller_name %>">
<div id="banner">
  <%= link_to image_tag('logo.svg', alt: 'Your Bookshelf', size: '60x60'), store_index_path %>
  <h1 style="color: dodgerblue;">Your Bookshelf</h1>
  <span class="title"><%= @page_title %></span>
  <% if session[:user_id] %>
    <div class="user_info">
      <% sign_in(User.find_by(id: session[:user_id])) %>
      <% current_user = User.find_by(id: session[:user_id]) %>
      <p id="banner">Logged as <%= current_user.name %></p>
      <%= button_to 'Logout', logout_path, method: :delete, class: 'btn btn-primary btn-lg' %>
    </div>
  <% end %>
</div>
<div id="columns">
  <div id="side">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="margin-left: 250px">X</a>
    <div id="cart">
      <% if @cart %>
        <%= hidden_div_if @cart.line_items.empty?, id: 'cart' do %>
          <%= render @cart %>
        <% end %>
      <% end %>
    </div>
    <ul>
      <li><a href="">Questions</a></li>
      <br>
      <li><a href="">News</a></li>
      <br>
      <li><a href="">Contact</a></li>
      <br>
      <div id="logon_menu">
        <div id="signup" style="border: 2px black solid; margin-left: 10px; margin-right: 60px">
          <%= link_to 'Sign Up', user_new_path, id: 'links' %>
          <%= link_to 'Log In', login_url, id: 'links' %>
        </div>
      </div>
      <br>
    </ul>
  </div>
  <div id="main">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    <%= yield %>
  </div>
</div>

<script>
    function openNav() {
        document.getElementById("side").style.width = "130px";
        document.getElementById("main").style.marginLeft = "130px";
    }

    function closeNav() {
        document.getElementById("side").style.width = "0";
        document.getElementById("main").style.marginLeft= "0";
    }
</script>

</body>
</html>